body {
    padding: 10px;
}

a td{
    text-decoration: none;
    color: black;
}
.listing{
    color: black;
    border: 1px solid lightgrey;
    margin-bottom: 2%;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}
.half_list img{
    border: 1px solid lightgray;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
.half_list{
    padding: 5%;
    padding-right: 10%;
    width: 40%;
}
.listing_left_col{
    padding-left: 5%;
    width: 50%;
}
#top_row{
    padding-top: 4%;
}
#listing_main{
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
}